# dependencies
node_modules/
frontend/node_modules/
backend/.venv/
backend/venv/
venv/

# build
dist/
frontend/dist/
build/
__pycache__/
*.pyc

# env secrets
.env
backend/.env
frontend/.env

# system
.DS_Store

# backup/temp
_backup_before_merge/
_archived_lanh-sach-laundry-temp/

# docker
*.log
